<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/public/logo.png" type="image/png" sizes="16x16">
  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="stylesheet" href="/public/css/boostrap.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  <title>Auctions</title>
</head>
<body>
  <header>
    <a class="navbar-brand" href="/" style="width: fit-content;align-items: center; display: flex; justify-content: space-evenly; margin: 0px !important">
        <img src="https://images.fastcompany.net/image/upload/w_596,c_limit,q_auto:best,f_auto/fc/3034007-inline-i-applelogo.jpg" alt="" width="46" height="34" class="d-inline-block align-text-top">
        <span style="font-weight: 1000;">Tender-book</span>
    </a>
    <strong>403 || forbitten</strong>
  </header>
  
    <main role="main" class="flex-shrink-0">
        <nav class="nav">
            <ul>
                <% for( let i = 0; i < gstate.setting_pages.length; i++ ) { %>
                    <li> 
                        <a 
                            class="nav-link <%= gstate.setting_page.id === gstate.setting_pages[i].id ? "disabled" : "active"  %>" 
                            href="<%= gstate.setting_pages[i].path  %>">
                            <%= gstate.setting_pages[i].label  %>
                        </a> 
                    </li>
                <% } %>
            </ul>
        </nav>
        <div class="page-content">
            <h1>page content</h1>
            <div style="min-height: 200vh;">dasd</div>
        </div>
    </main>
</body>
</html>